/* Primary */
tui-wrapper[data-appearance='fs-primary'] {
  color: #ffffff;
  background-color: var(--fs-primary);
}

tui-wrapper[data-appearance='fs-primary'][data-state='hovered'],
tui-wrapper[data-appearance='fs-primary'][data-state='pressed'] {
  background-color: var(--fs-primary-hover);
}

tui-wrapper[data-appearance='fs-primary'][data-state='disabled'] {
  background-color: #eaecee;
}

/* Primary white */
tui-wrapper[data-appearance='fs-primary-white'] {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

tui-wrapper[data-appearance='fs-primary-white'][data-state='hovered'],
tui-wrapper[data-appearance='fs-primary-white'][data-state='pressed'] {
  color: #ffffff;
  background-color: var(--fs-primary);
  border-color: var(--fs-primary);
}

tui-wrapper[data-appearance='fs-primary-white'][data-state='disabled'] {
  background-color: #eaecee;
}

/* Secondary */
tui-wrapper[data-appearance='fs-secondary'] {
  color: #ffffff;
  background-color: var(--fs-secondary);
}

tui-wrapper[data-appearance='fs-secondary'][data-state='hovered'],
tui-wrapper[data-appearance='fs-secondary'][data-state='pressed'] {
  background-color: var(--fs-primary);
}

tui-wrapper[data-appearance='fs-secondary'][data-state='disabled'] {
  background-color: #eaecee;
}

/* Flat */
tui-wrapper[data-appearance='fs-flat'] {
  color: var(--fs-secondary);
}

tui-wrapper[data-appearance='fs-flat'][data-state='hovered'],
tui-wrapper[data-appearance='fs-flat'][data-state='pressed'] {
  color: var(--fs-primary);
}

tui-wrapper[data-appearance='fs-flat'][data-state='disabled'] {
  background-color: #eaecee;
}
